<div class="comments">
    <div class="card">
        <div class="card-header">
            <section class="comment">
                <div>
                    {{content}}
                </div>
                <br>
                <div>
                    Comment From: {{user.username}} on {{date_created}}
                </div>
            </section>
        </div>
    </div>
</div>